<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sanleng.electricalfire">

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.sanleng.electricalfire.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.permission.BROADCASTS" />
    <permission
        android:name="com.permission.BROADCASTS"
        android:protectionLevel="signature" />

    <application
        android:name="com.sanleng.electricalfire.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:theme,android:allowBackup">
        <activity android:name=".ui.activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录 -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 首页 -->
        <activity
            android:name=".ui.activity.MainTabActivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_更多 -->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_消防安全 -->
        <activity
            android:name=".ui.activity.FirsafetyAtivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_消防安全_水系统 -->
        <activity
            android:name=".ui.activity.WaterSystemActivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_安全巡查 -->
        <activity
            android:name=".ui.activity.SafetyPatrolAtivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_电气安全 -->
        <activity
            android:name=".ui.activity.RealTimeDataActivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_电气安全 -->
        <activity
            android:name=".ui.activity.RealDataActivity"
            android:screenOrientation="portrait" />
        <!-- 校园安全_电气实时数据 -->
        <activity
            android:name=".ui.activity.RealDataItemActivity"
            android:screenOrientation="portrait" />

        <!-- 隐患列表 -->
        <activity
            android:name=".ui.activity.PendingActivity"
            android:screenOrientation="portrait" />
        <!-- 隐患处理 -->
        <activity
            android:name=".ui.activity.RectificationitemActivity"
            android:screenOrientation="portrait" />
        <!-- 照片查看 -->
        <activity
            android:name=".ui.activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <!-- 巡查（拍照确认） -->
        <activity
            android:name=".ui.activity.PatrolActivity"
            android:screenOrientation="portrait" />
        <!-- 历史轨迹 -->
        <activity
            android:name=".ui.activity.TimePumpingActivity"
            android:screenOrientation="portrait" />
        <!-- 密码修改 -->
        <activity
            android:name=".ui.activity.PwdChangeActivity"
            android:screenOrientation="portrait" />
        <!-- 替换原生极光推送接收器 -->
        <receiver
            android:name=".jpush.MyReceiver"
            android:enabled="true"
            android:exported="false"
            tools:node="replace">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.sanleng.electricalfire" />
            </intent-filter>
        </receiver>
    </application>

</manifest>